<div class="footer-strip">
  <div class="container">
    <div class="row">
      <div class="col-11" style="color: white">Github project : <a href="http://www.github.com" style="color:white" target="_blank">http://www.github.com</a></div>
      <div class="col-1"><a href="mailto:{{ site.docurl }}?subject=[General] Commentss&body=Hello, this is some comments about the website" title="Send comments"><span class="ui-icon ui-icon-mail-closed" style="background-color:white"></span></a></div>
      </div>
  </div>
</div>
