<div class='header {{include.headerClass}}'>
  <div class="container">
    <div class="logo">
      <a href="http://esa.int" target="_blank"><img alt="ESA Homepage" src="{{site.baseurl}}/images/esa-logo.png" /></a>
    </div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
    <div class="logo">
      <a href="{{site.data.str.url}}" target="_blank"><img alt="Copernicus Homepage" src="{{site.baseurl}}/images/logo-copernicus.svg" /></a>
    </div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
    {% include main-menu.html %}
  </div>
</div>