<div class="container pt-5 pt-md-5">
	<div class="row justify-content-start">
		<div class="col-12 col-md-12 col-xl-12 mb-1 mt-1">
  			<div class="card-common card-size-big">
				
				<div class="card-meta">
					<h3 class="tuto-card-title">
						<a name="{{ tuto.order }}">{{tuto.title }}</a>
					</h3>
				</div>
		    </div>
		</div>
		<div class="col-12 col-md-12 col-xl-12 mb-1 mt-1">
			<table style="border-spacing: 8px;border-collapse: separate;background-color: #ffff70;">
				<tr>
					<th colspan=2>Prerequires</th>
				</tr>
				{% for prerequire in tuto.prerequires %}
				<tr>
					<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>- {{ prerequire[0] }} &nbsp;&nbsp;&nbsp;&nbsp;<i>(See <a href="{{ prerequire[1] }}" target="_blank">here)</a></i></td>
				</tr>
				{% endfor %}
			</table>
		</div>
		<div class="col-12 col-md-12 col-xl-12 mb-1 mt-1">
			{{ tuto.content }}
		</div>
	</div>
</div>
